apiVersion: apps/v1
kind: Deployment
metadata:
  name: rearc-deployment
  labels:
    app: rearc
spec:
  replicas: 4
  selector:
    matchLabels:
      app: rearc
  template:
    metadata:
      labels:
        app: rearc
    spec:
      containers:
      - name: rearc
        image: 629354604262.dkr.ecr.us-west-2.amazonaws.com/rearc/quest:latest
        env:
          - name: SECRET_WORD
            value: "TwelveFactor"
        ports:
          - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: rearc-service-lb
spec:
  type: LoadBalancer
  selector:
    app: rearc
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000